<!-- home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binance WebSocket</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
</head>
<body>
    <table id="binanceTable" class="display">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Best Bid Price</th>
                <th>Best Bid Qty</th>
                <th>Best Ask Price</th>
                <th>Best Ask Qty</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <script>
        var socket = new WebSocket('ws://localhost:8080/ws');
        var table = $('#binanceTable').DataTable();

        socket.onmessage = function(event) {
            var data = JSON.parse(event.data);
            if (data.data && data.data.s) {
                var symbol = data.data.s.toLowerCase();
                var row = table.row('#' + symbol);

                if (!row.length) {
                    table.row.add({
                        "DT_RowId": symbol,
                        "0": data.data.s,
                        "1": data.data.b,
                        "2": data.data.B,
                        "3": data.data.a,
                        "4": data.data.A
                    }).draw();
                } else {
                    row.data([
                        data.data.s,
                        data.data.b,
                        data.data.B,
                        data.data.a,
                        data.data.A
                    ]).draw();
                }
            } else {
                console.log("Symbol is undefined in message: ", event.data);
            }
        };
    </script>
</body>
</html>
