<!-- home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binance WebSocket</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
</head>
<body>
    <div id="receivedCount">Received messages: 0</div>
    <div id="processedCount">Processed messages: 0</div>
    <table id="binanceTable" class="display">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Best Bid Price</th>
                <th>Best Bid Qty</th>
                <th>Best Ask Price</th>
                <th>Best Ask Qty</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <script>
            var ws1 = new WebSocket('ws://localhost:8080/ws1');
            var ws2 = new WebSocket('ws://localhost:8080/ws2');
        var table = $('#binanceTable').DataTable();
            var receivedCount = 0;

            function handleWebSocket(ws) {
                ws.onopen = function () {
                    console.log('WebSocket is connected..');
                };

                ws.onmessage = function (event) {
                    var data = JSON.parse(event.data);
                    if (data.data && data.data.s) {
                        var symbol = data.data.s.toLowerCase();
                        var row = table.row('#' + symbol);

                    if (!row.length) {
                        table.row.add({
                            "DT_RowId": symbol,
                            "0": data.data.s,
                            "1": data.data.b,
                            "2": data.data.B,
                            "3": data.data.a,
                            "4": data.data.A
                        }).draw();
                    } else {
                        row.data([
                            data.data.s,
                            data.data.b,
                            data.data.B,
                            data.data.a,
                            data.data.A
                        ]).draw();
                    }
                    receivedCount++;
                    document.getElementById('receivedCount').textContent = "Received messages: " + receivedCount;
                } else {
                    console.log("Symbol is undefined in message: ", event.data);
                }
            };

        ws.onerror = function (err) {
            console.log('WebSocket error: ', err);
        };
    }

    handleWebSocket(ws1);
    handleWebSocket(ws2);
    </script>
</body>
</html>